body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
#ht_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  right: 0;
  z-index: -1;
}
#ht_sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 36px;
  z-index: 2;
  padding: 6px;
  outline: 0;
}

.ht_panel {
  position: absolute;
  min-height: 24px;
  z-index: 1;
  padding: 6px;
  outline: 0;
}
.ht_panel:hover,
.ht_panel:focus {
  z-index: 3;
}
.ht_panel.is-dragging {
  z-index: 4;
}
.ht_panel_heading {
  min-height: 24px;
  margin-bottom: 6px;
  font-size: 16px;
  text-align: center;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ht_panel_close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.ht_button {
  width: 24px;
  padding: 6px;
  font-size: 24px;
  text-align: center;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ht_well {
  padding: 0 19px;
  border-radius: 4px;
}
